<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PagingViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2824CEA91D816DC400F6C7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2824CEBD1D816DC400F6C7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2824CEC81D816DC400F6C7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
